/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css"
/* .blueActive{
    color: blue;
    font-weight: bolder;
    font-size: larger;
}
.bluedisable{
    color: crimson;
    font-weight: normal;
    font-size: medium;
    font-style: italic;
} */